<div class="card">
  <div class="card-header">{{ pageTitle }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4"><input [(ngModel)]="listFilter" type="text" /></div>
    </div>

    <div class="roww">
      <div class="col-md-2"><h4>Filtered by:</h4></div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <button
                (click)="toggleImage()"
                type="button"
                class="btn btn-primary"
              >
                {{ showImage ? "Hide" : "Show" }} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img
                *ngIf="showImage"
                [src]="product.imageUrl"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
                [title]="product.productName | uppercase"
              />
            </td>
            <td>{{ product.productName | uppercase }}</td>
            <td>{{ product.productCode | convertToSpaces: "-" }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency | lowercase }}</td>
            <td><pm-star></pm-star></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
